/*********************************************/
/* SPLASH */
/*********************************************/
.splash {
	&__text {
		color: $default;
		font-size: 88px;
		font-weight: 700;
		margin: 0;
		margin: 100px 0 0;
		text-align: center;
		
		@media only screen and (max-width: 1200px) { font-size: 72px; }
		@media only screen and (max-width: 992px) { font-size: 56px; }
		@media only screen and (max-width: 768px) { font-size: 40px; }
		@media only screen and (max-width: 480px) { font-size: 24px; }
			
		&--small {
			font-size: 72px;
			font-weight: 300;
			
			@media only screen and (max-width: 1200px) { font-size: 56px; }
			@media only screen and (max-width: 992px) { font-size: 40px; }
			@media only screen and (max-width: 768px) { font-size: 24px; }
			@media only screen and (max-width: 480px) { font-size: 16px; }
		}
	}
	
	&__button {		
		background: none;
		box-sizing: border-box;
		color: $default;
		display: block;
		font-size: 22px;
		font-weight: 300;
		height: 80px;
		line-height: 80px;
		margin-bottom: 50px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		position: relative;
		text-align: center;
		width: 80px;
		z-index: 100;
		
		@include border-radius(100%);
		@include single-transition(all, 500ms, ease);
		
		&:hover {
			background: $default;
			color: $brand-main;
		}
		
		&--base {
			background: none;
			border: 2px solid $default;
			left: 0;
			top: 0;
			z-index: 99;
			border-radius: 100%;
			height: 80px;
			position: absolute;
			width: 80px;
		}
	}
}

.pulse {
	-webkit-animation: pulse 2s ease-in-out infinite;
    animation: pulse 2s ease-in-out infinite;
    opacity: 0.4;
}

.pulse2 {
	-webkit-animation: pulse2 2s ease-in-out infinite;
    animation: pulse2 2s ease-in-out infinite;
	animation-delay: 250ms;
    opacity: 0.2;
}